  body {
   font: 24px Helvetica;
   background: #999999;
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
 
  #main > article {
   margin: 4px;
   padding: 5px;
   border: 1px solid #cccc33;
   border-radius: 7pt;
   background: #dddd88;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }
  
  #main > nav {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 10%;
           flex: 1 6 10%;
   -webkit-order: 1;
           order: 1;
   }
  
  #main > aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 10%;
           flex: 1 6 10%;
   -webkit-order: 3;
           order: 3;
   }

   #main-container{
     margin: 0px;
     padding: 0px;
     display: -webkit-flex;
     display:         flex;
     -webkit-flex-flow: row;
           flex-flow: row 
   }
  #left {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: red;
   -webkit-flex: 1 1 20%;
           flex: 1 1 20%;
   -webkit-order: 1;
           order: 1;
   }
  #center {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: blue;
   -webkit-flex: 1 1 60%;
           flex: 1 1 60%;
   -webkit-order: 2;
           order: 2;
   }

  #right {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: yellow;
   -webkit-flex: 1 1 20%;
           flex: 1 1 20%;
   -webkit-order: 3;
           order: 3;
   }

   /* flex container for side nav bar */
   #side-nav-container{
     margin: 0px;
     padding: 0px;
     display: -webkit-flex;
     display:         flex;
     -webkit-flex-flow: column;
           flex-flow: column;
   }

   #side-nav1 {
     margin: 4px;
     padding: 5px;
     border: 1px solid red;
     border-radius: 7pt;
     background: yellow;
     -webkit-flex: 1 1 30%;
             flex: 1 1 30%;
     -webkit-order: 1;
             order: 1;
      display: block;
      max-width: 2em;
   }

   #side-nav2 {
     margin: 4px;
     padding: 5px;
     border: 1px solid red;
     border-radius: 7pt;
     background: pink;
     -webkit-flex: 1 1 30%;
             flex: 1 1 30%;
     -webkit-order: 2;
             order: 2;
      display: block;
      max-width: 2em;
   }

   #side-nav3 {
     margin: 4px;
     padding: 5px;
     border: 1px solid red;
     border-radius: 7pt;
     background: yellow;
     -webkit-flex: 1 1 30%;
             flex: 1 1 30%;
     -webkit-order: 2;
             order: 2;
      display: block;
      max-width: 2em;
   }

   .side-nav1-img,.side-nav2-img,.side-nav3-img{
     width: 100%;
     height: 100%;
   }
 
  header, footer {
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   background: #ffeebb;
   }

  #header-flex-box {
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }

  #one {
   margin: 4px;
   padding: 5px;
   border: 1px solid red;
   border-radius: 7pt;
   background: red; 
   -webkit-flex: 1 1 50%;
           flex: 1 1 50%;
   -webkit-order: 1;
           order: 1;
   }


  #two {
   margin: 4px;
   padding: 5px;
   border: 1px solid blue;
   border-radius: 7pt;
   background: blue;
   -webkit-flex: 1 1 50%;
           flex: 1 1 50%;
   -webkit-order: 2;
           order: 2;
   }
   .udacity-logo{
     width: 100%;
     height: 100%;
   }
 
  /* Too narrow to support three columns */
  @media all and (max-width: 400px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   /*#main > nav, #main > aside, header, footer {*/
   #main > nav, #main > aside, header, footer {
    min-height: 50px;
    max-height: 50px;
   }

   #header-flex-box{
    -webkit-flex-flow: column;
            flex-direction: column;
   }

   #one,#two{
    -webkit-order: 0;
            order: 0;
   }
 
  }

